@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.qabul_main {
  width: 100%;
  height: 500px;
  background: url('../../img/qabul.jpg') no-repeat center center/cover;
  position: relative;
  margin-top: 30px;
}

.qabul_main img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.qabul_main h3{
  color: white;
  z-index:1;
}


.qabul_main .parda {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
  animation: parda 1.5s normal;
  position: absolute;
  top: 0;
  left: 0;
}

.phone_icon {
  position: fixed;
  bottom: 30px;
  left: 30px;
  animation: ring 4s 0.7s ease-in-out infinite;
  z-index: 1;
  cursor: pointer;
}

.qabul_jarayoni {
  background: url('../../img/qabul_jarayoni.jpg') no-repeat center center/cover;
  min-height: 500px;
  margin: 45px 0px;
  position: relative;
  padding: 40px 0px;
}
.qabul_jarayoni h3{
  color: white;
  font-family: 'Courgette', cursive;
  z-index:1;
}
.qabul_jarayoni p{
  color: white;
  font-size: 20px;
  font-family: 'Courgette', cursive;
  z-index:1;
  max-width: 700px;
}

.qabul_jarayoni .qabul_opacity{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;left: 0;
  background: linear-gradient(to left, blue,rgba(0, 0, 255, 0.692), rgba(0, 0, 255, 0));
}

.qabul_shakl{
  width: 95%;
  height: 400px;
  background: blue;
  position: relative;
  padding: 10%;
  transition: 0.4s;
  border-radius: 5px;
  margin: 15px 0px;
}
.qabul_shakl:hover{
  transform: translateY(-30px);
  transition: 0.4s;
}
.qabul_shakl p{
  color: white;
  font-family: 'Courgette', cursive;
  font-size: 20px;
  margin-top: 30%;
}
.qabul_shakl .qabul_shakl_lenta{
  height: 50px;
  width: 101%;
  background: rgb(15, 185, 15);
  position: absolute;
  top: 20px;
  left: -0.5%;
  border-radius: 5px;
  color: gold;
  font-weight: 700;
  font-size: 30px;
  
}

.qabul_card {
  width: 95%;
  height: 300px;
  position: relative;
  border: 1px solid rgb(218, 208, 208);
  border-radius: 5px;
  box-shadow: 5px 5px 5px -5px grey;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  padding-left: 100px;
  overflow: hidden;
  
  margin: 15px 0px;
}
.qabul_card img{
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.qabul_card h2{
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.qabul_card p{
  color: rgb(241, 241, 241);
  font-weight: 500;
  font-size: 15px;
  max-width: 60%;
}
.qabul_card .nomer{
  width: 150px;
  height: 150px;
  border-radius:50%;
  background: blue;
  position: absolute;
  top: -75px;
  left: -75px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qabul_card .nomer p{
  color: white;
  font-size: 40px;
  margin: 60px 0px 0px 60px;
}
.qabul_title{
  color: blue;font-weight: 700;
  margin: 0;
  margin: auto;
  padding: 0;
}

.imtihon{
  background: radial-gradient(blue, rgb(92, 92, 221));
  min-height: 300px;
}

.imtihon h2{
  color: white;
  font-weight: 700;
}
.imtihon p{
  color: white;
  font-weight: 500;
  max-width: 800px;
}
.imtihon .col-12{
  min-height: 300px;
  padding-bottom: 80px;
}

.exam_day{
  height: 250px;
  background: blue;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0px;
  border-radius:10px
}
.exam_day h3{
  color: white;
  font-weight: 700;
  font-family: 'Patrick Hand', cursive;
}
.exam_day p{
  color: white;
  font-weight: 500;
  font-family: 'Patrick Hand', cursive;
}


.kerakli_hujjatlar{
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  background: url('../../img/pinned.jpg') no-repeat center center/cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 7%;
  box-shadow: 5px 5px 5px -5px rgb(218, 154, 37);
  border-radius: 5px;
  margin-bottom: 10px;
}
.kerakli_hujjatlar p{
  color: white;
  font-weight: 500;
  font-size: 25px;
  font-family: 'Poor Story', cursive;
  
}
.kerakli_hujjatlar h1{
  color: white;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Poor Story', cursive;

}
.kerakli_hujjatlar .pinned_icon{
  position: absolute;
  top: -10px;
  left: 5%;
  color: rgb(211, 71, 7);
}


@media(max-width:499px) {
  .qabul_card h2{
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin: 0;
  }
  .qabul_card p{
    color: rgb(241, 241, 241);
    font-weight: 500;
    font-size: 13px;
    max-width: 70%;
  }
  .qabul_jarayoni .qabul_opacity{
    background: rgba(0, 0, 255, 0.452);
  }
}