.news_main {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 30px;
}

.news_main h3 {
  color: white;
  z-index: 1;
}

.news_main .parda {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.315);
  animation: parda 1.5s normal;
  position: absolute;
  top: 0;
  left: 0;
}

.phone_icon {
  position: fixed;
  bottom: 30px;
  left: 30px;
  animation: ring 4s 0.7s ease-in-out infinite;
  z-index: 1;
  cursor: pointer;
}

.carousel {
  margin-top: 70px;
}
.carousel-indicators {
  height: 400px;
}
.carousel h3 {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 150px;
}


.news_card{
  border: 1px solid rgb(238, 234, 234);
  border-radius: 10px;
  overflow: hidden;
  margin: 15px 0px;
  cursor:pointer;
  height: 400px;
  box-shadow: 5px 5px 5px -5px grey;
  background: white;
}
.news_card:hover img{
  transform: scale(1.05);
  transition:0.5s;
}

.news_card img{
  height: 55%;
  transition: 0.5s;
}

.news_card .card_body{
  background: white;
  height: 45%;
  padding: 5% 5%;
}
.last_news{
  color: blue;
  font-weight: 700;
  margin-top: 20px;
}
.card{
  background: white;
}



.new_card img{
  max-width: 600px;
  height: 400px;
  margin-bottom: 15px;
}
.new_card {
  margin-top: 100px;
}
.date_icon {
  margin-right: 10px;
}
.new_card h2{
  color: black;
  font-weight: 700;
}
.new_card .date{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 700;
}
.new_card p{
  color: black;
  font-size: 20px;
}




@media (max-width: 767px) {
  .carousel h3 {
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
  }
}
